body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
}

/* Top Novel */

.top-novel-container {
    display: grid;
    height: 125px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'item-1 item-2 item-3 item-4'
    ;
    background-color: lightseagreen;
    padding: 5px;
    gap: 30px;
    box-sizing: border-box;
}

.items {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        'cover title'
        'cover author'
        'cover rating'
        'cover link'
    ;
    height: 250px;
    background-color: white;
    box-shadow: 0 0 1px 1px lightgray;
    border-radius: 5px;
    margin: 5px;
}

.items h2,
p {
    display: grid;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.items .cover {
    grid-area: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.items h2 {
    grid-area: title;
}

.items p:nth-child(3) {
    grid-area: author;
}

.items div:nth-child(4) {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        'star rate'
    ;
    grid-area: rating;
}

.items div:nth-child(4) .star {
    grid-area: star;
    background-image: url(/asset/star.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}

.items div:nth-child(4) p {
    display: grid;
    align-items: center;
    grid-area: rate;
}

.items a {
    display: grid;
    place-content: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(51, 117, 158);
    border-radius: 0 0 5px 0;
    transition: all .1s;
}

.items a:hover {
    background-color: lightseagreen;
    color: white;
}

.items.item-1 {
    grid-area: item-1;
}

.item-1 .cover {
    background-image: url(/asset/ranah\ 3\ warna.jpg);
}

.items.item-2 {
    grid-area: item-2;
}

.item-2 .cover {
    background-image: url(/asset/sang-pemimpi.jpg);
}

.items.item-3 {
    grid-area: item-3;
}

.item-3 .cover {
    background-image: url(/asset/si-anak-badai.jpg);
}

.items.item-4 {
    grid-area: item-4;
}

.item-4 .cover {
    background-image: url(/asset/hujan.jpg);
}

h1.search-title {
    margin-top: 7em;
    text-align: center;
}

/* Search Bar */

.search-bar {
    margin: auto;
    display: grid;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    grid-template-columns: 15% 75% 10%;
    box-shadow: 0 0 5px 3px lightgray;
    background-color: white;
    grid-template-areas:
        'title fill button'
    ;
}

.search-bar h2 {
    display: grid;
    place-content: center;
    grid-area: title;
    margin: 0;
    height: 100%;
    border-right: 1px solid lightgray;
}

.search-bar .fill {
    display: flex;
    grid-area: fill;
    padding: 5px;
    box-sizing: border-box;
}

.fill div {
    width: 100%;
}

.search-bar .button {
    grid-area: button;
    cursor: pointer;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-image: url(/asset/sem.png);
    border-radius: 0 5px 5px 0;
    transition: all .1s;
    border-left: 1px solid lightgray;
}

.search-bar .button:hover {
    background-color: lightseagreen;
}

/* Nav Bar */

nav {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(238, 238, 238);

}

nav ul {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a {
    font-size: 13pt;
    font-weight: bolder;
    text-decoration: none;
    color: lightseagreen;
}

/* New Release and Genres */

.main-container {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-areas:
        'new-release top-genres'
    ;
    gap: 10px;
    height: 400px;
    margin: 1em;
    margin-top: 12em;
}

.main-container .new-release {
    grid-area: new-release;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'new-1 new-2 new-3'
        'new-4 new-5 new-6'
    ;
    border-radius: 5px;
}

.new-release .release {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'cover title'
        'cover author'
        'cover rating'
    ;
    gap: 5px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px lightgray;
}

.release .release-cover {
    grid-area: cover;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.release a {
    display: grid;
    place-content: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(51, 117, 158);
    transition: all .1s;
    border-radius: 0 0 5px 0;
}

.release a:hover {
    background-color: lightseagreen;
    color: white;
}

.release h2 {
    font-size: 17pt;
}

.release h2,
.release p,
.release a {
    display: grid;
    align-items: center;
    margin: 0;
    height: 100%;
}

.new-release .new-1 {
    grid-area: new-1;
}

.new-1 .release-cover {
    background-image: url(/asset/padang-bulan.jpg);
}

.new-release .new-2 {
    grid-area: new-2;
}

.new-2 .release-cover {
    background-image: url(/asset/rantau1muara.jpg);
}

.new-release .new-3 {
    grid-area: new-3;
}

.new-3 .release-cover {
    background-image: url(/asset/pergi.jpg);
}

.new-release .new-4 {
    grid-area: new-4;
}

.new-4 .release-cover {
    background-image: url(/asset/ayah.jpg);
}

.new-release .new-5 {
    grid-area: new-5;
}

.new-5 .release-cover {
    background-image: url(/asset/n5m.jpg);
}

.new-release .new-6 {
    grid-area: new-6;
}

.new-6 .release-cover {
    background-image: url(/asset/anak\ rantau.JPG);
}

.main-container .top-genres {
    grid-area: top-genres;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        'title title'
        'genre-1 genre-2'
        'genre-3 genre-4'
        'genre-5 genre-6'
        'genre-7 genre-8'
    ;
    gap: 5px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px lightgray;
}

.top-genres .genre-title {
    grid-area: title;
    text-align: center;
    font-size: 17pt;
}

.top-genres .genre {
    font-size: 13.5pt;
    font-weight: bolder;
    text-align: center;
    border-radius: 50px;
    border: 2px solid lightseagreen;
    cursor: pointer;
}

.genre:hover {
    background-color: lightseagreen;
    color: white;
}